body {
  display: flex;
  justify-content: center;
}
#buttonscontainer {
  display: grid;
  height: 500px;
  width: 400px;
  font-size: 20px;
  gap: 10px;
  border: none;
  border-radius: 30px;
  padding: 10px;
  background-color: burlywood;
  grid-template-columns: repeat(4, 1fr);
}
#equalsto {
  grid-column: span 2;
  grid-row: span 1;
}
#plus,
#multiply {
  grid-row: span 2;
}
.operators {
  color: rgb(190, 137, 2);
  background-color: rgb(98, 97, 95);
  font-size: 40px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.num {
  font-size: 40px;
  color: black;
  background-color: rgb(135, 125, 125);
  border-radius: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
#allclear {
  font-size: 45px;
  font-weight: bold;
  color: rgb(154, 1, 1);
  background-color: coral;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
#display {
  width: 400px;
  height: 100px;
  overflow: hidden;
  padding: 10px;
  background-color: rgb(183, 210, 200);
  border-radius: 20px;

  font-size: 80px;
  font-weight: bold;
  border: 3px solid;
}
#calculator {
  background-color: burlywood;
  border: 5px solid black;
  border-radius: 20px;
  padding: 10px;
}
